*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body{
  width:100%;
  min-height:100%;
}

body{
  background:#f8f3eb;
  color:#2d2115;
  font-family:Inter,system-ui,sans-serif;
}

button,
input{
  transition:.25s;
}

button:hover{
  transform:translateY(-2px);
}

input:focus{
  border-color:#c79642 !important;
  box-shadow:0 0 0 4px rgba(199,150,66,.18);
}

::selection{
  background:#d5a655;
  color:white;
}
